Strings

In [13]:
str = "Hello World!"
print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str * 2)
print(str + "TEST")

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

Conditional Statements

In [12]:
age = int(input("Enter the age: "))
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

Segragating the data into multiple lists.

In [11]:
list = [69, 4.20, 'King', [420, 69], '69', 5.77, 420, '420', 69.69, 'a', {1:'one', 2:'two'}, [1, 2, 3]]
list_int = []
list_str = []
list_float = []
list_list = []
list_dict = []


for i in list:
    if type(i) == int:
        list_int.append(i)
    elif type(i) == str:
        list_str.append(i)
    elif type(i) == float:
        list_float.append(i)
    elif type(i) == dict:
        list_dict.append(i)
    else:
        list_list.append(i)

print(list_int)
print(list_str)
print(list_float)
print(list_list)
print(list_dict)

[69, 420]
['King', '69', '420', 'a']
[4.2, 5.77, 69.69]
[[420, 69], [1, 2, 3]]
[{1: 'one', 2: 'two'}]

Loops

In [14]:
i = 2
while( i < 100):
  j = 2
  while j <= (i/j):
    if not(i%j):
      break
    j = j+1
  if(j > i/j):
    print(i, "is prime")
  i = i+1
print("Good Bye!")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
Good Bye!

In [15]:
for i in "PythonClass":
  print("Current Letter:", i)

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: h
Current Letter: o
Current Letter: n
Current Letter: C
Current Letter: l
Current Letter: a
Current Letter: s
Current Letter: s

In [28]:
fruits = ["banana", "apple", "manngo"]
for fruit in fruits:
  print("Current fruit:", fruit)
for i in range(len(fruits)):
  print("Current fruit:", fruits[i])
for i in range(len(fruits)-1, -1, -1):
  print("Current fruit:", fruits[i])

Current fruit: banana
Current fruit: apple
Current fruit: manngo
Current fruit: banana
Current fruit: apple
Current fruit: manngo
Current fruit: manngo
Current fruit: apple
Current fruit: banana

Functions

In [19]:
def change_name(mylist):
  mylist.append([1, 2, 3, 4])
  print(mylist)
  return

mylist = [10, 20, 40]
print(mylist)
change_name(mylist)

[10, 20, 40]
[10, 20, 40, [1, 2, 3, 4]]

Pandas

In [35]:
import pandas as pd

list = ["Geeks", "For", "Geeks", "is", "portal", "for", "Geeks"]
df = pd.DataFrame(list)
print(df)
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age': [27, 24, 22, 32],
        'Address': ['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification': ['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print(df)
print(df[['Name', 'Qualification']])
row2 = df.iloc[2, 1]
row2
print(row2)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks
     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd
22

In [41]:
import pandas as pd

data = pd.read_csv('Boston.csv')
data.head(10)
print(data.tail(5))
print(data.columns)
print(data.describe)
print(data.black)
print(data[['black', 'medv', 'crim']])

     Unnamed: 0     crim   zn  indus  chas    nox     rm   age     dis  rad  \
501         502  0.06263  0.0  11.93     0  0.573  6.593  69.1  2.4786    1
502         503  0.04527  0.0  11.93     0  0.573  6.120  76.7  2.2875    1
503         504  0.06076  0.0  11.93     0  0.573  6.976  91.0  2.1675    1
504         505  0.10959  0.0  11.93     0  0.573  6.794  89.3  2.3889    1
505         506  0.04741  0.0  11.93     0  0.573  6.030  80.8  2.5050    1

     tax  ptratio   black  lstat  medv
501  273     21.0  391.99   9.67  22.4
502  273     21.0  396.90   9.08  20.6
503  273     21.0  396.90   5.64  23.9
504  273     21.0  393.45   6.48  22.0
505  273     21.0  396.90   7.88  11.9
Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')
<bound method NDFrame.describe of      Unnamed: 0     crim    zn  indus  chas    nox     rm   age     dis  rad  \
0             1  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1
1             2  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2
2             3  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2
3             4  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3
4             5  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3
..          ...      ...   ...    ...   ...    ...    ...   ...     ...  ...
501         502  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1
502         503  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1
503         504  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1
504         505  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1
505         506  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1

     tax  ptratio   black  lstat  medv
0    296     15.3  396.90   4.98  24.0
1    242     17.8  396.90   9.14  21.6
2    242     17.8  392.83   4.03  34.7
3    222     18.7  394.63   2.94  33.4
4    222     18.7  396.90   5.33  36.2
..   ...      ...     ...    ...   ...
501  273     21.0  391.99   9.67  22.4
502  273     21.0  396.90   9.08  20.6
503  273     21.0  396.90   5.64  23.9
504  273     21.0  393.45   6.48  22.0
505  273     21.0  396.90   7.88  11.9

[506 rows x 15 columns]>
0      396.90
1      396.90
2      392.83
3      394.63
4      396.90
        ...
501    391.99
502    396.90
503    396.90
504    393.45
505    396.90
Name: black, Length: 506, dtype: float64
      black  medv     crim
0    396.90  24.0  0.00632
1    396.90  21.6  0.02731
2    392.83  34.7  0.02729
3    394.63  33.4  0.03237
4    396.90  36.2  0.06905
..      ...   ...      ...
501  391.99  22.4  0.06263
502  396.90  20.6  0.04527
503  396.90  23.9  0.06076
504  393.45  22.0  0.10959
505  396.90  11.9  0.04741

[506 rows x 3 columns]